
GoddessBot/config.json
GoddessBot/.vs/GoddessBot/DesignTimeBuild/.dtbcache
GoddessBot/.vs/GoddessBot/DesignTimeBuild/.dtbcache
GoddessBot/.vs/GoddessBot/v16/.suo
GoddessBot/.vs/GoddessBot/v16/Server/sqlite3/storage.ide
GoddessBot/.vs/GoddessBot/v16/Server/sqlite3/storage.ide-shm
GoddessBot/.vs/GoddessBot/v16/Server/sqlite3/storage.ide-wal
GoddessBot/bin/Debug/netcoreapp2.1/config.json
GoddessBot/bin/Debug/netcoreapp2.1/Music/mp3.mp3
GoddessBot/config.json
GoddessBot/obj/Debug/netcoreapp2.1/GoddessBot.AssemblyInfoInputs.cache
GoddessBot/obj/Debug/netcoreapp2.1/GoddessBot.csproj.CoreCompileInputs.cache
GoddessBot/obj/
GoddessBot/bin/
GoddessBot/config.json
GoddessBot/config.json
